*vscode/*
backup/*
build/*
*.txt
*.bin
*.elf
*.cia
*.3ds
*.3dsx
*.firm
*.d
*.o
*.map
*.lst
*.elf
*.smdh
*.pyc
*.ips
*.zar
source/patch_symbols.hpp
code/release/*
code/*.bin
code/*.sym
code/*.ips
code/bak/*
code/loader/build/*
code/source/build/*
.DS_Store